.text-output {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#equipment-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#top-preview-box {
  width: 100%;
  max-width: 1080px;
  aspect-ratio: 21 / 9;
  margin: 0 auto 20px auto;
  background-color: #eee;
  border: 2px dashed #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
}

select.warning {
  border: 2px solid red;
  background-color: #ffe5e5;
}

select.main-stat,
select.main-value {
  background-color: #eef6ff;
  font-weight: bold;
}

select.sub-stat,
select.sub-value {
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #2c3e50;
  padding: 0 20px;
  margin-bottom: 10px;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.logo-icon {
  height: 100%;
  width: auto;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
  /*justify-content: flex-end;*/
  width: 100%;
}

.navbar-links button {
  margin-left: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.navbar-links button:hover {
  text-decoration: underline;
}


.slot {
  width: 200px;
  height: 160px;
  background: #ddd;
  border: 3px dashed #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.slot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
}

.slot.selected {
  border: 3px solid #007bff;
}

.text-output {
  margin-top: 0px;
  background: #fff;
  padding: 10px;
  width: 95%;
  height: 100px;
  overflow-y: auto;
  font-size: 13px;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-grid-vertical {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 8px;
  /* row gap, column gap */
  padding: 0 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-labels {
  display: flex;
  justify-content: space-between;
  grid-column: span 2;
  /* 라벨 한 줄만 쓰게 */
  margin-bottom: 2px;
  padding: 0 4px;
}

.dropdown-divider {
  grid-column: span 2;
  height: 1px;
  background-color: #ccc;
  margin: 3px 0;
}

.dropdown-grid-vertical select {
  font-size: 12px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-labels {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 2px;
  padding: 0 0px;
}

.label-left {
  text-align: left;
  padding-left: 10px;
}

.label-right {
  text-align: right;
  padding-right: 10px;
}